.cgu-page {
  background: url("../../assets/background/background_desktop_welcome.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cgu-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beige-bg-color);
  border-radius: 10px;
  max-height: auto;
  width: 80vw;

  & p {
    margin: 15px;
    text-align: justify;
    font-family: var(--poppins-font);
  }
}

.cgu-button {
  background-color: var(--green-bg-color);
  border-radius: 16px;
  width: 40vw;
  padding: 16px;
  font-family: var(--poppins-font);
  color: var(--light-font-color);
  margin: 15px;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .cgu-button {
    width: 15vw;
  }

  .cgu-frame {
    width: 52vw;

    & p {
      margin: 30px;
    }
  }
}
