.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  text-align: center;
  background: url("../../assets/background/background_mobile_welcome_with_logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-font-color);
  height: 100vh;
  width: 100vw;

  .logo-blanc {
    max-width: 60vw;
    padding: 5%;
    margin-top: 30px;
  }

  & h2 {
    font-family: var(--poppins-font);
  }

  & p {
    font-family: var(--poppins-font);
  }
}

.login-userform-page {
  display: flex;
}
