.home-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & .hp-container-title {
    text-align: center;
  }
}

.recipe-card-list {
  width: 100dvw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .recipe-card-list {
    padding-left: 35px;
    gap: 15px;
  }
}
