.my-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  font-family: var(--poppins-font);

  & p {
    font-size: var(--font-size-h2);
  }
}

.bloc-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  border-radius: 16px;
  padding: 3%;
  width: 87%;
  height: 10%;
  box-shadow: 0px 2px 16px 0px rgba(6, 51, 54, 0.1);

  #profile-picture-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

.profile-picto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inheriFt;
    cursor: pointer;
    outline: inherit;
  }
}

.deconnexion-button {
  background-color: var(--orange-bg-color);
  border: none;
  border-radius: 16px;
  width: 35vw;
  padding: 8px;
  font-family: var(--poppins-font);
  color: var(--light-font-color);
  /* margin: 15px; */
  cursor: pointer;
}

.recipe-card-list {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

.recipe-card {
  max-width: 90vw;
}

@media screen and (min-width: 992px) {
  .bloc-name {
    max-width: 25%;
    max-height: 100px;
    justify-content: space-between;

    #profile-picture-img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
    }
  }

  .deconnexion-button {
    max-width: 15%;
  }

  .recipe-card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recipe-card {
    max-width: calc(90vw / 3); /* 3 cartes par ligne */
    margin: 1rem;
  }
}
