.recipe-creation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  border-radius: 20px;
  font-family: var(--poppins-font);
  margin-bottom: 17vh;
}

.form-creation-page {
  text-align: center;
}

.title {
  margin: 1%;
}

.input-title {
  border-radius: 10px;
  border: solid lightgray 1px;
  width: 80vw;
  height: 4vh;
  text-align: center;
  margin: 1%;
}

.input-nb-people {
  border-radius: 10px;
  border: solid lightgray 1px;
  width: 80vw;
  height: 4vh;
  text-align: center;
  margin: 1%;
}

.input-time {
  border-radius: 10px;
  border: solid lightgray 1px;
  margin: 1%;
}
.Mandatory-input-fields {
  margin: 1%;
  margin-bottom: 3%;
}

.error {
  border: solid 2px red !important;
}
/* ----------------Ajout ingredients-------------- */

.input-ingredients {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

.ingredient-quantity,
.ingredient-unity,
.ingredient-selection {
  border-radius: 10px;
  border: solid lightgray 1px;
  height: 4vh;
  width: 80vw;
  text-align: center;
  margin: 1%;
  padding: 1%;
}

.add-ingredients {
  list-style-type: none;
  margin: 1%;
}

.add-button {
  margin-top: 1vh;
  background-color: var(--orange-bg-color);
  padding: 1% 5%;
  border-radius: 10px;
  border: solid lightgray 1px;
  color: white;
  font: var(--poppins-font);
  margin: 1%;
}

/* ----------------Ajout ustensile-------------- */

.input-tool-quantity,
.input-tool-selection {
  border-radius: 10px;
  border: solid lightgray 1px;
  height: 4vh;
  width: 80vw;
  text-align: center;
  margin: 1%;
  padding: 1%;
}

.add-tools {
  list-style-type: none;
  margin: 1%;
}
/* ----------------step description-------------- */
#recipe-description {
  height: 40vh;
  width: 80vw;
  border-radius: 5px;
  border: solid lightgray 1px;
  padding: 3%;
  font-family: var(--poppins-font);
  margin: 1%;
}

.step-description {
  margin: 1%;
}

/* ----------------Drag and drop area-------------- */
.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.drop-zone-section {
  display: flex;
  justify-content: center;
}
.drop-zone {
  background-color: var(--ligthgray-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px dashed black;
  padding: 1.5rem 2.8rem;
  border-radius: 1rem;
  transition: padding 0.2s;
  width: 70vw;

  &:hover {
    padding: 1.7rem 2.5rem;
    cursor: grab;
  }

  p:first-of-type {
    font-size: 1.2rem;
  }
}

.add-files-button {
  background-color: var(--green-bg-color);
  border: none;
  border-radius: 10px;
  padding: 1%;
  font-family: var(--poppins-font);
  color: var(--light-font-color);
}
.uploads {
  & ul {
    list-style-type: none;
    padding: 0;

    & li {
      padding: 12px 0;
      border-radius: 0.5rem;
      margin: 12px 0;
    }
  }

  & .actions {
    display: flex;
    gap: 1rem;
    justify-content: center;

    & button:first-of-type {
      color: rgb(255, 40, 40);
    }
  }
}

.submit-recipe-creation-button {
  background-color: var(--green-bg-color);
  border: none;
  border-radius: 16px;
  width: 40vw;
  padding: 16px;

  color: var(--light-font-color);
  margin: 15px;
}
/* ----------------desktop mode-------------- */
@media screen and (min-width: 480px) {
  .add-recipe-title {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .recipe-creation-page {
    background-color: var(--beige-bg-color);
  }

  .input-title {
    width: 35vw;
  }

  .input-nb-people {
    width: 35vw;
  }

  .input-ingredients {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .ingredient-quantity,
  .ingredient-unity,
  .ingredient-selection {
    border-radius: 10px;
    border: solid lightgray 1px;
    height: 4vh;
    width: 25vw;
    text-align: center;
    margin: 1%;
    padding: 1%;
  }

  .input-ustensile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
  }

  .input-tool-quantity,
  .input-tool-selection {
    border-radius: 10px;
    border: solid lightgray 1px;
    height: 4vh;
    width: 25vw;
    text-align: center;
    margin: 1%;
    padding: 1%;
  }

  .drop-zone {
    background-color: var(--ligthgray-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px dashed black;
    padding: 1.5rem 2.8rem;
    border-radius: 1rem;
    transition: padding 0.2s;
    height: 45vh;
    width: 35vw;
  }
}

/* ----------------click effect-------------- */
@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.add-button.clicked {
  animation: clickEffect 0.3s ease;
}

.submit-recipe-creation-button.clicked {
  animation: clickEffect 0.3s ease;
}
