.recipe-page-container {
  background-color: bisque;
  margin: 2em;
  height: 100em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & #recipe-page-title {
    margin: 1em;
  }

  & #recipe-page-img {
    border-radius: 40px;
    width: 50dvw;
  }
}

.recipe-page-context-element {
  display: flex;
  gap: 5px;
  margin: 1em;
}

/* ------- radio ------- */

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: var(--ligthgray-bg-color);
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--orange-bg-color);
  color: var(--primary-bg-color);
  font-weight: 600;
}

/* Version desktop */
@media screen and (min-width: 480px) {
  #recipe-page-img {
    width: 20dvw;
  }
}
