.register-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  text-align: center;
  background: url("../../assets/background/background_mobile_welcome.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-font-color);

  .logo-blanc {
    max-width: 60vw;
    padding: 5%;
  }

  & h2 {
    font-family: var(--poppins-font);
  }

  & p {
    font-family: var(--poppins-font);
  }
}

.logo-orange {
  display: none;
}

.register-title {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .register-page {
    background: url("../../assets/background/background_desktop_welcome.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--dark-font-color);
  }

  .desktop-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--beige-bg-color);
    width: 50vw;
    margin: 30px;
    border-radius: 10px;
  }

  .logo-blanc {
    display: none;
  }

  .logo-orange {
    display: block;
    width: 23vw;
  }
}
