.welcome-page {
  background: url("../../assets/background/background_mobile_welcome_with_logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.welcome-page-logotitre {
  margin-top: 2vh;
  height: 10vh;
  width: 60vw;
}

.welcome-page-h1 {
  margin: 2vw auto 0 auto;
  color: var(--primary-bg-color);
  font-size: 32px;
  font-family: var(--patrick-font);
  font-weight: normal;
  width: 25ch;
}

.welcome-nav {
  display: flex;
  flex-direction: column;
  padding-top: 50vh;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  font-family: var(--poppins-font);
}

.welcome-nav a {
  border-radius: 16px;
  height: 6vh;
  width: 55vw;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    border: solid 1px;
  }

  &:last-child {
    background-color: var(--green-bg-color);
  }
}

@media screen and (min-width: 480px) {
  .welcome-page {
    background: url("../../assets/background/background_desktop_with_logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .welcome-page-h1 {
    width: 100%;
  }

  .welcome-nav a {
    width: 20vw;
    height: 10vh;
  }
}
