.recipe-card {
  display: flex;
  margin: 15px;
  width: 100dvw;
  height: 40dvh;
  border-radius: 20%;
  background-color: grey;
}

@media screen and (min-width: 480px) {
  .recipe-card {
    width: 20vw;
  }
}
