.mobile-link {
  display: none;
}

.navbar {
  width: 100vw;
  height: 10vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;

  & .nav-link {
    text-decoration: none;
  }

  & .nav-link.active,
  .nav-link:hover {
    color: var(--dark-font-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    & h1 {
      color: black;
    }
  }

  & .desktop-link {
    text-decoration: none;
    color: var(--dark-font-color);
    font-family: var(--patrick-font);
    font-size: Var(--font-size-h1);
    color: var(--orange-font-color);
  }

  & #popote-logo {
    height: 10vh;
    width: auto;
    margin-right: 25rem;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 475px) {
  .desktop-link {
    display: none;
  }

  .nav-link:nth-of-type(3) {
    margin-right: 4em;
  }

  .navbar {
    position: fixed;
    bottom: 0px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    width: 100dvw;
    height: 8dvh;

    & .nav-bg {
      position: fixed;
      bottom: -5px;
      width: 100%;
      height: auto;
      z-index: 1;
    }
    & .nav-link {
      z-index: 2;
    }
    & .mobile-link {
      display: flex;
      gap: 0px;
    }

    & .nav-link.active > img > svg {
      fill: blue;
      background-color: black;
    }

    & #search-link {
      position: absolute;
      bottom: 7dvh;
      left: 39dvw;
      width: 22dvw;
      height: 10dvh;
      background-color: white;
      border-radius: 100%;
      display: flex;
      justify-content: center;

      & img {
        width: 18dvw;
      }
    }
    & #search-link.active {
      background-color: #97bf0d;
    }
  }
}
