.modal {
  background-color: white;
  z-index: 2;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* gap: 1rem; */
  border-radius: 16px;
  padding: 3%;
  width: 87%;
  /* height: 10%; */
  box-shadow: 0px 2px 16px 0px rgba(6, 51, 54, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
}
