.modal {
  display: flex;
  flex-direction: column;
  font-family: var(--poppins-font);
  background-color: white;
  border-radius: 16px;
  padding: 3%;
  box-shadow: 0px 2px 16px 0px rgba(6, 51, 54, 0.1);

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.close-button {
  text-align: end;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-size: 2rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.edit-input {
  display: flex;
  border: solid var(--ligthgray-bg-color);
  border-width: 0.5mm;
  border-radius: 8px;
  height: 4.5vh;

  & input {
    border: none;
    width: 70vw;
    font-family: var(--poppins-font);
  }

  & input:focus {
    outline: none;
  }
}

@media screen and (min-width: 992px) {
  .modal {
    width: 50vw;
  }

  .edit-input {
    & input {
      width: 30vw;
    }
  }
}
