.search-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 6vh;
  border-radius: 16px;
  box-shadow: 5px 5px 5px grey;
  border: none;
  background-image: url(../../assets/search_loupe.svg);
  background-repeat: no-repeat;
  background-position: 3%;
  text-indent: 8%;
}

.search-bar:focus {
  outline: none;
}
