.userform-page {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.icon-form {
  width: 14vw;
}

.logo-input {
  display: flex;
  background-color: var(--primary-bg-color);
  border-radius: 5px;
  width: 90vw;

  & input {
    border: none;
    width: 60vw;
    font-family: var(--poppins-font);
  }

  & input:focus {
    outline: none;
  }
}

.cgu-container {
  width: 80vw;
  font-family: var(--poppins-font);

  & label {
    font-size: var(--font-size-small-text);
  }
}

.cgu-container input[type="checkbox"] {
  width: 12px;
  height: 12px;
}

.submit-button {
  background-color: var(--green-bg-color);
  border: none;
  border-radius: 16px;
  width: 40vw;
  padding: 16px;
  font-family: var(--poppins-font);
  color: var(--light-font-color);
  margin: 15px;
}

.url {
  color: var(--light-font-color);
}

@media screen and (min-width: 992px) {
  .logo-input {
    width: 30vw;
  }
}
