.userform-page {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 2vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.icon-form {
  width: 5vw;
  margin: 0.5vw;
  margin-left: 10px;
  margin-right: 10px;
}

.logo-input {
  display: flex;
  background-color: var(--primary-bg-color);
  border-radius: 8px;
  width: 90vw;
  height: 4.5vh;

  & input {
    border: none;
    align-items: center;
    width: 70vw;
    font-family: var(--poppins-font);
  }

  & input:focus {
    outline: none;
  }
}

.cgu-container {
  width: 80vw;
  font-family: var(--poppins-font);

  & label {
    font-size: var(--font-size-small-text);
  }
}

.cgu-link {
  color: var(--light-font-color);
}

.cgu-container input[type="checkbox"] {
  width: 12px;
  height: 12px;
}

.submit-button {
  background-color: var(--green-bg-color);
  border: none;
  border-radius: 16px;
  width: 40vw;
  padding: 16px;
  font-family: var(--poppins-font);
  color: var(--light-font-color);
  margin: 15px;
}

.url {
  color: var(--light-font-color);
  /* color:  --green-font-color: rgb(151, 191, 13); */
}

@media screen and (min-width: 992px) {
  .register-form {
    width: 30vw;
  }

  .url {
    color: var(--brown-font-color);
  }

  .logo-input {
    width: 25vw;

    & input {
      border-radius: 5px;
    }
  }

  .icon-form {
    width: 4vw;
    height: 4vh;
    margin: 4px;
    margin-right: 10px;
  }

  .cgu-container {
    width: 25vw;
  }

  .cgu-link {
    color: var(--dark-font-color);
  }

  .submit-button {
    width: 20vw;
  }
}
