@import "./components-styles/categories-list.css";
@import "./components-styles/close-button.css";
@import "./components-styles/duration-element.css";
@import "./components-styles/favorite-button.css";
@import "./components-styles/ingredients-list.css";
@import "./components-styles/maxi-recipe-card.css";
@import "./components-styles/mini-recipe-card.css";
@import "./components-styles/navbar.css";
@import "./components-styles/nut-value-element.css";
@import "./components-styles/profile-card.css";
@import "./components-styles/search-bar.css";
@import "./components-styles/tools-list.css";
@import "./components-styles/user-form.css";
@import "./components-styles/about.css";

@import "./pages-styles/admin-page.css";
@import "./pages-styles/cgu-page.css";
@import "./pages-styles/connexion-page.css";
@import "./pages-styles/error-page.css";
@import "./pages-styles/favorites-page.css";
@import "./pages-styles/home-page.css";
@import "./pages-styles/profil-page.css";
@import "./pages-styles/recipe-creation-page.css";
@import "./pages-styles/recipe-page.css";
@import "./pages-styles/register-page.css";
@import "./pages-styles/search-page.css";
@import "./pages-styles/set-profile-page.css";
@import "./pages-styles/welcome-page.css";

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Font */
  --dark-font-color: black;
  --light-font-color: white;
  --orange-font-color: rgb(245, 124, 0);
  --gray-font-color: rgb(135, 135, 135);
  --brown-font-color: rgb(82, 40, 40);

  --poppins-font: Poppins;
  --patrick-font: Patrick Hand;

  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1rem;
  --font-size-text: 0.875rem;
  --font-size-small-text: 0.75rem;

  /* Element color */
  --primary-bg-color: white;
  --orange-bg-color: rgb(245, 124, 0);
  --green-bg-color: rgb(151, 191, 13);
  --beige-bg-color: rgb(236, 232, 218);
  --darkgray-bg-color: rgb(92, 92, 92);
  --ligthgray-bg-color: rgb(230, 235, 242);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  font-family: var(--poppins-font);
}

h2 {
  font-size: 1.25rem;
  font-family: var(--poppins-font);
}

h3 {
  font-size: 1rem;
  font-family: var(--poppins-font);
}

p {
  font-size: 0.875rem;
}
